.bi-moon{
    margin-right: 7px;
    cursor: url('../../../assets/img/moon-fill.svg'),auto;
}

span{
    cursor: url('../../../assets/img/moon-fill.svg'),auto;
}

nav{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
