


<div class="container">
    <div class="row height d-flex">
        <div class="col-md-3">
            <div class="search"> 
                <input type="text" class="form-control" placeholder="Have a question? Ask Now"> 
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="card">
                <img src="" />
                    <div class="card-content">
                        <h4 class="card-title">
                            </h4>
                        <p>
                            Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                        </p>
                    </div>
                    <div class="card-read-more">
                </div>
        </div>
</div>