<div class="error" *ngIf="!response">
  <p class="text-error">Sorry something's not right</p>
  <img src="../../../assets/img/roboFeito.png" class="error" style="width: 620px;height: 630px;">
</div>

<div *ngIf="response">
<div class="container" *ngIf="list">
  <div class="row hidden-md-up justify-content-between ">
    <div class="search col-md-4">
        <span class="input-group-text bg-transparent">
          <i class="bi bi-search"></i>
            <input type="text" class="form-control shadow-none" 
            #searchTerms name="countrieName" placeholder="What a Country ?" (keyup)="searchName(searchTerms.value)"
            autocomplete="off"
            >
        </span>
    </div>

    <div class="form-group search col-md-2">
    <select id="inputState" (change)="selectChange($event)" [(ngModel)]="selected" class="form-control shadow-none">
      <option [value]="r.id" *ngFor="let r of regions">{{r.name}}</option>
    </select>
    </div>
  </div>
  
<div *ngIf="findNameOr">
  <ng-container *ngIf="(findName|async)as countrieName">
    <div class="row hidden-md-up justify-content-between">
      <div class="col-md-3" *ngFor="let countrieNames of countrieName; let i = index ">
        <div class="card d-flex">
          <div class="card-block" (click)="getAtual(countrieNames,i)">
            <img src="{{countrieNames.flags?.png}}" class="img-fluid card-img-top" >
            <div class="info">
              <h4 class="card-title">{{countrieNames.name | truncate:[20, '...'] }}</h4>
              <p class="card-text p-y-1">Population: {{countrieNames.population}}</p>
              <p class="card-text p-y-1">Region: {{countrieNames.region}}</p>
              <p class="card-text p-y-1">Capital: {{countrieNames.capital}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

  <div *ngIf="noSearching">
  <div class="row hidden-md-up justify-content-between">
    <div class="col-md-3" *ngFor="let list of regionsList; let i = index ">
      <div class="card d-flex">
        <div class="card-block" (click)="getAtual(list,i)" [routerLink]="['home/lists/details']" >
          <img src="{{list.flags?.png}}" class="img-fluid" class="img-fluid card-img-top">
          <div class="info">
            <h4 class="card-title">{{list.name | truncate:[20, '...'] }}</h4>
            <p class="card-text p-y-1">Population: {{list.population}}</p>
            <p class="card-text p-y-1">Region: {{list.region}}</p>
            <p class="card-text p-y-1">Capital: {{list.capital}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container" *ngIf="!list" class="details">
<app-details></app-details>
</div>
  